<div class="container">
  <p>{{ section.settings.top-bar-announcement }}</p>
</div>
{% schema %}
{
  "name": "Top bar announcement",
  "settings": [
  {
    "type": "text",
    "label": "Announcement",
    "id": "top-bar-announcement"
  }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}

{% stylesheet %}
{% endstylesheet %}